@use '../../styles/variables' as v;

.chat-edit {
	display: flex;
	flex-direction: column;
	gap: 1em;
	padding: 1em;
	height: 100%;
	width: 360px;
	&__section {
		overflow: hidden;
		border-radius: var(--border-radius);
		border:var(--border)
	}
	&__button {
		display: flex;
		align-items: center;
		width: 100%;
		padding: 1em 0;
		cursor: pointer;
		background-color: var(--color-button-bg);
		&:hover {
			background-color: var(--color-hover-bg);
		}
		&_danger {
			color: var(--color-danger);
		}
		&-icon {
			font-size: 2em;
			width: 2em;
		}
		&-text {
			font-size: 1.2em;
			font-weight: bold;
			padding-bottom: 4px;
		}
	}
	&__button + &__button {
		border-top: var(--border);
	}
}

@media screen and (max-width: v.$media-mobile) {
	.chat-edit {
		width: initial;
	}
}
