@use '../../styles/variables' as v;

.chat-info {
	display: grid;
	grid-template: 2em 2em/4em minmax(0, 1fr) 2em;
	grid-template-areas: 'logo title buttons' 'logo users buttons';
	gap: 0.2em 0.5em;
	padding: 0.5em 1em;
	align-items: center;
	&__back-button {
		grid-area: back;
		display: none;
		font-size: 1.5em;
	}
	&__logo {
		grid-area: logo;
		padding: 2px 0;
	}
	&__title {
		grid-area: title;
		&-text {
			font-size: 1.2em;
			font-weight: bold;
		}
	}
	&__users {
		grid-area: users;
		color: var(--color-text-dim);
	}
	&__buttons {
		grid-area: buttons;
		font-size: 1.5em;
	}
}

@media screen and (max-width: v.$media-mobile) {
	.chat-info {
		grid-template: 2em 2em/2em 4em minmax(0, 1fr) 2em;
		grid-template-areas: 'back logo title buttons' 'back logo users buttons';
		&__back-button {
			display: block;
		}
	}
}
