
$color-bg-0: #FAFAFA;
$color-bg-1: #F5F5F5;
$color-bg-2: #EEEEEE;
$color-bg-3: #E0E0E0;
$color-bg-4: #BDBDBD;
$color-bg-9: #263238;

// $color-main-1: #34568B;
// $color-main-2: #b3a88c;
// $color-main-3: #f5f3ef;
// $color-main-4: #fffcf6;
// $color-main-5: #fff;

$color-text-0: #FAFAFA;
$color-text-4: #BDBDBD;
$color-text-5: #9E9E9E;
$color-text-9: #212121;

$color-accent-0: #EFEBE9;
$color-accent-1: #ECEFF1;
$color-accent-2: #81beb6;
$color-accent-4: #00BFA5;

