$color-bg-0: #FAFAFA;
$color-bg-1: #F5F5F5;
$color-bg-2: #EEEEEE;
$color-bg-3: #E0E0E0;
$color-bg-4: #BDBDBD;
$color-bg-9: #263238;

$color-text-0: #FAFAFA;
$color-text-4: #BDBDBD;
$color-text-5: #9E9E9E;
$color-text-9: #212121;

$color-accent-0: #EFEBE9;
$color-accent-1: #ECEFF1;
$color-accent-2: #81beb6;
$color-accent-4: #00BFA5;

$media-mobile: 759px;
$media-wide: 1365px;
