.chat-users-edit {
	background-color: var(--color-header-bg);
	&__add-user {
		padding: 0.5em 1em;
	}
	&__list {
		padding: 0.5em 1em;
		overflow: auto;
		&_search > &-item {
			cursor: pointer;
			&:hover {
				color: var(--color-positive);
			}
		}
		&-item + &-item {
			margin-top: 0.5em;
			transition: color 100ms linear, border-color 100ms linear;
		}
	}
}
