@use '../../styles/variables' as *;

$colors:
	1 #288430 $color-text-0,
	2 #ff585b $color-text-0,
	3 #e9846e $color-text-0,
	4 #1ec8e2 $color-text-0,
	5 #9b12ca $color-text-0,
	6 #ebe7d2 $color-text-9,
	7 #5d478d $color-text-0,
	8 #be7699 $color-text-0,
	9 #dbe52b $color-text-9,
	10 #2424f1 $color-text-0;

.logo {
	height: 4em;
	width: 4em;
	line-height: 4em;
	border-radius: 4em;
	text-align: center;
	background-color: var(--color-text-dim);
	color: var(--color-text-lite);
	&__abbr {
		font-weight: bold;
	}
	&-variant {
		@each $i, $bg, $color in $colors {
			&_#{$i} {
				background-color: $bg;
				color: $color;
			}
		}
	}
}
