.message-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 1em 10em;
	gap: 1em;
	&__to {
		align-self: flex-end;
	}
	&__from {
		align-self: flex-start;
	}
}

@media screen and (max-width: 1365px) {
	.message-list {
		padding: 1em;
	}
}
